body {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    font-size: 1.3vw;
    margin: 0;
    padding: 0;
    overflow: hidden
}

h1 {
    margin: 0;
    padding-top: 2vh;
    height: 10vh;
    color: midnightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    background-color: aliceblue;
}

#firstButtonsContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 1.7vh;
    text-align: center;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    background-color: #C0C8E1;
}

#secondButtonsContainer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    padding-bottom: 5vh;
    width: 100%;
    text-align: center;
    background-color: #C0C8E1;
}

#canvasContainer {
    height: 60%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: midnightblue;
    border: none;
    font-size: 1.3vw;
    color: white;
    width: 10%;
    height: 5.4vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1.5vh;
}

.button:hover {
    background-color: lightslategray; 
    color: midnightblue;
}

.button:disabled {
    opacity: 0.3;
}

#changeArrayButton {
    position: absolute;
    left: 4vw;
}

#arraySizeRange {
    position: absolute;
    left: 4.2vw;
    width: 9.2vw;
}

#sizeText {
    position: absolute;
    left: 5.6vw;
    top: 21.2vh;
    font-size: 1.4vw;
}

#sortingSpeedRange {
    position: absolute;
    right: 6.2vw;
    width: 9.2vw;
}

#speedText {
    position: absolute;
    right: 7.2vw;
    top: 21.2vh;
    font-size: 1.4vw;
}

#sortButton {
    position: absolute;
    right: 6vw;
}

.sortingOption { 
    display: inline-block;
    user-select: none;
}

.sortingOption input {
    display: none;
}   

.sortingOption label {
    color: white;
    font-size: 1.7vw;
    margin-right: 1.5vw;
}

.sortingOption input:disabled + label {
    color: lightslategrey;
}

.sortingOption input:checked + label {
    color: midnightblue;
    font-weight: bold;
}
